<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh Sách Khách Hàng</title>
</head>
<body>
<a th:href="@{Create}">Thêm mới khách hàng</a>
<table border="1 solid" width="30%">
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Img</th>
        <th colspan="2">Action</th>
    </tr>
    <tr th:each="C:${Customer}">
        <td th:text="${C.name}"></td>
        <td th:text="${C.address}"></td>
        <td><img th:src="@{'/i/'+${C.img}}" alt="" width="100px"></td>
<!--        <td><a th:href="@{{id}/Remove(id=${C.id})}">Remove</a></td>-->
        <td><a th:href="@{Remove(id=${C.id})}">Remove</a></td>
        <td><a th:href="@{Update(id=${C.id})}">Update</a></td>
    </tr>
</table>
</body>
</html>